<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />
		<link href='css/normalize.css' rel='stylesheet' />
		<link href='css/dashboard.css' rel='stylesheet' />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
	
	<body>
    <div class="page page--dashboard">
      <aside class="page__aside aside vertical vertical--big">
        <div class="text aside__logo">
          Sidebar
        </div>
        <nav class="vertical vertical--small">
          <a href="#" class="nav-button nav-button--active click">
            <span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg');"></span>
            <span class="text text--light">Home</span>
          </a>
          {{!-- домашнє завдання старт --}}
          <a href="#" class="nav-button nav-button click">
            <span class="icon nav-button__icon" style="background-image: url('/svg/nav/orders.svg');"></span>
            <span class="text text--light">Orders</span>
          </a>
          <a href="#" class="nav-button nav-button click">
            <span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg');"></span>
            <span class="text text--light">Products</span>
          </a>               
          {{!-- домашнє завдання eнд --}}

          <div class="relative click">
            <div class="field field--select">
              <span class="text text--light">Choose...</span>
            </div>
            <select name="select-1" id="1" class="field__select">
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="parrot">Parrot</option>
            </select>   
          </div>
        
        </nav>
      </aside>
      <header class="header">
        <div class="layout header__content text--small">
          <div class="relative">
           <input type="text" placeholder="Search" class="text field field--header"> 
           <span class="icon header__icon-search" style="background-image: url('/svg/header/search.svg');"></span>
           <span class="icon header__icon-settings icon--button icon--color-blue click" style="background-image: url('/svg/header/settings.svg');"></span>
          </div>
          {{!-- домашнє завдання старт --}}
          <div class="header__icons">
            <span class="icon header__icons-right icon--color-yellow-light" style="background-image: url('/svg/header/antenna.svg');"></span>
            <span class="icon header__icons-right icon--color-blue-superlight click" style="background-image: url('/svg/header/translate.svg');"></span>
            <span class="icon header__icons-right icon--color-yellow-light" style="background-image: url('/svg/header/bell.svg');"></span>
          </div>
          {{!-- домашнє завдання eнд --}}     
        </div>
      </header>
      <main class="text main">
        <div class="layout">
          <section class="box analytic__block">
            <div class="analytic analytic--double analytic--blue">              
              <span class="icon analytic__button icon--button icon--color--blue click" style="background-image: url('/svg/main/cart.svg');"></span>
              <div class="relative vertical vertical--small">
                <div class="analytic__title text--light">$961</div>
                <div class="analytic__info text--small text--lighter">Total Order</div>
                <span class="icon analytic__arrow" style="background-image: url('/svg/main/blue_arrow.svg');"></span>
              </div>
            </div>
            <div class="analytic analytic--double analytic--purple">test</div>
            <div class="analytic">test</div>
            <div class="analytic">test</div>
          </section>   
        </div>     
      </main>
    </div>
	</body>
</html>
