<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />
		<link href='css/normalize.css' rel='stylesheet' />
		<link href='css/slack.css' rel='stylesheet' />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
	
	<body>


		<div class="page">
      <section class="page_section">
        <div class="page_content hero_section">
          <div class="hero">
            <div class="hero_content">
              <span class="hero_label">Slack Features</span>
              <h1 class="hero_title">One platform for your team and your work</h1>
              <p class="hero_info">All the features of Slack work together so you can, too.</p>
              <div class="hero_buttons">
                <a href="#" class="button button_primary click">Try for free</a>
                <a href="#" class="button button_secondary click">See all features</a>
              </div>
              <img src="/img/hero.png" alt="hero" class="hero_image">            
            </div>          
          </div>         
          <div class="brands">
            <img src="/img/brands/airbnb.png" alt="" class="brands_img">
            <img src="/img/brands/intuit.png" alt="" class="brands_img">
            <img src="/img/brands/logo-newscorp.png" alt="" class="brands_img">
            <img src="/img/brands/logo-onemedical.png" alt="" class="brands_img">
            <img src="/img/brands/logo-sonos.png" alt="" class="brands_img">
            <img src="/img/brands/target-logo.png" alt="" class="brands_img">
            <img src="/img/brands/uber.png" alt="" class="brands_img">
            <img src="/img/brands/veteran.png" alt="" class="brands_img">            
          </div>
        </div>        
      </section>

      <section class="page_section page_section_light">
        <div class="page_content features_section">
          <h2 class="features_title">Work more easily with everyone</h2>
          <p class="features_description">Stay on the same page and make decisions faster by bringing all of your work communication into one place.</p>
          <div class="features_grid_4">
            <div class="feat_card">
              <span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg');"></span>
              <strong class="feat_card_title">Slack Connection</strong>
              <p class="feat_card_description">Collaborate with teams at other companies the same way you do with teams at your own.</p>
              <a href="#" class="icon arrow click feat_link"></a>
            </div>

            <div class="feat_card">
              <span class="icon feat_icon" style="background-image: url('/svg/feature/channels.svg');"></span>
              <strong class="feat_card_title">Channells</strong>          
              <a href="#" class="icon arrow click feat_link"></a>
            </div>

            <div class="feat_card">
              <span class="icon feat_icon" style="background-image: url('/svg/feature/huddles.svg');"></span>
              <strong class="feat_card_title">Huddles</strong>          
              <a href="#" class="icon arrow click feat_link"></a>
            </div>          

            <div class="feat_card">
              <span class="icon feat_icon" style="background-image: url('/svg/feature/clips.svg');"></span>
              <strong class="feat_card_title">Clips</strong>          
              <a href="#" class="icon arrow click feat_link"></a>
            </div>

            <div class="feat_card">
              <span class="icon feat_icon" style="background-image: url('/svg/feature/canvas.svg');"></span>
              <strong class="feat_card_title">Canvas</strong>          
              <a href="#" class="icon arrow click feat_link"></a>
            </div> 

            <div class="feat_card">
              <span class="icon feat_icon" style="background-image: url('/svg/feature/messaging.svg');"></span>
              <strong class="feat_card_title">Messaging</strong>          
              <a href="#" class="icon arrow click feat_link"></a>
            </div>

            <div class="feat_card">
              <span class="icon feat_icon" style="background-image: url('/svg/feature/access.svg');"></span>
              <strong class="feat_card_title">Access</strong>          
              <a href="#" class="icon arrow click feat_link"></a>
            </div> 
          </div>
        </div>
      </section>


      {{!-- Домашнє завдання slack --}}


      <section class="page_section page_section_light">
        <div class="page_content need_section">
          <div class="need_content">
            <h2 class="need_title">What you need, when you need it</h2>
            <p class="need_description">Spend less time shuffling tabs with a comprehensive message archive and all your work tools at your fingertips.</p>        
          </div>

          <div class="need_grid_3">
            <div class="feat_card">
              <span class="icon feat_icon" style="background-image: url('/svg/need/apps.svg');"></span>
              <strong class="feat_card_title">Apps and Integrations</strong>
              <p class="feat_card_description">Streamline work by connecting Slack with other services like Google Drive, Office 365 and over 2,200 more.</p>
              <a href="#" class="icon arrow click feat_link"></a>              
            </div>
            <div class="feat_card">
              <span class="icon feat_icon" style="background-image: url('/svg/need/builder.svg');"></span>
              <strong class="feat_card_title">Workflow Builder</strong>
              <p class="feat_card_description">Automate routine actions and communication, so you can get back to the kind of work only humans can do.</p>
              <a href="#" class="icon arrow click feat_link"></a>              
            </div>
            <div class="additional_card">
              <div class="feat_card">
                <span class="icon feat_icon" style="background-image: url('/svg/need/search.svg');"></span>
                <strong class="feat_card_title">Search</strong>            
                <a href="#" class="icon arrow click feat_link"></a>              
              </div> 
              <div class="feat_card">
                <span class="icon feat_icon" style="background-image: url('/svg/need/sharing.svg');"></span>
                <strong class="feat_card_title">File sharing</strong>            
                <a href="#" class="icon arrow click feat_link"></a>              
              </div>                
            </div>
           
          </div>
        </div>
      </section>

      <section class="page_section deliveroo">
        <div class="del_content">
          <img src="/img/del.png" alt="del" class="del_img">
          <div class="del_description">
            <p class="del_descr">“The thing that keeps us connected the most is Slack. It’s a very immediate and straightforward method of communication, and really the only channel that people prefer and enjoy using.”</p>
            <img src="/img/logo.png" alt="del_logo" class="del_logo">
            <p class="del_small_text">Will Sprunt, CIO, Deliveroo</p>            
          </div>
        </div>
      </section>

		</div>


	</body>
</html>
